.el-menu.el-menu--horizontal {
    border-bottom: none;
    border-bottom-width: initial;
    border-bottom-style: none;
    border-bottom-color: initial;
  }
  
  .item{
    display: inline-block;
    width: 100px;
  
    text-align: center;
    cursor: pointer
  }
  .item a {
    color: 	#1E90FF;
  }
  .item:hover{
    background-color: 	LightPink;
  }
  
  @import url("//unpkg.com/element-ui@2.15.14/lib/theme-chalk/index.css");
  .el-header, .el-footer {
      background-color: #ffffff;
      color: #333;
      text-align: center;
      line-height: 38px;
    }
    
    .el-aside {
      background-color: #D3DCE6;
      color: #333;
      text-align: center;
      line-height: 200px;
    }
    
    .el-main {
  
      background-color: #ffffff;
      color: #333;
      text-align: center;
      /* text-align: center; */
      line-height: 50px !important
    }
    
    body > .el-container {
      margin-bottom: 40px;
    }
    
    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
      line-height: 260px;
    }
    
    .el-container:nth-child(7) .el-aside {
      line-height: 320px;
    }
  
    .navi-menu{
      background-color: rgb(255, 255, 255, 0);
    }