*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.ml-5 {
    margin-left: 5px;
}
.mr-5 {
    margin-right: 5px;
}
.pd-10 {
    padding: 10px 0;
}
.m-10 {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #666;
}


.mobile-header__inner--flex {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    box-pack: justify;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    box-align: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    width: 100%;
}
.mobile-header__inner {
    padding: 0 15px;
}
body, * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #ffffffd0;
    background-color: #fff;
}
:root {
    --color-primary: #003DFF;
    --color-secondary: #00f9ff;
    --background-primary: #F5F5FA;
    --background-secondary: #fff;
    --color-title: #222222;
    --color-excerpt: rgba(34,34,34,0.4);
    --color-meta: rgba(34,34,34,0.8);
    --color-border: rgba(0,0,0,0.1);
    --color-button: #222222;
    --color-white: #fff;
    --color-bg: #222222;
}
:root {
    --color-primary: #003DFF;
    --color-secondary: #00f9ff;
    --background-primary: #F5F5FA;
    --background-secondary: #fff;
    --color-title: #222222;
    --color-excerpt: rgba(34,34,34,0.4);
    --color-meta: rgba(34,34,34,0.8);
    --color-border: rgba(0,0,0,0.1);
    --color-button: #222222;
    --color-white: #fff;
    --color-bg: #222222;
}
html {
    font-size: 14px;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
